<div>
	<h3> @DOMAIN@ </h3>
</div>

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-9">
		<div class="col-md-3"> @ACCOUNT@ </div>
		<div class="col-md-3"> @DESCRIPTION@ </div>
		<div class="col-md-3"> @USERNAME@ </div>
		<div class="col-md-3"> <button>Show</button></div>
	</div>
	<div class="col-md-2">
		<button>Edit</button>
		<button>Delete</button>
	</div>
</div>