#signUp {
	width:70%;
}

#loginModal {
	width: 70%;	
}

body {
	background-color: whitesmoke;
	height: 75%;
	overflow: hidden;
}

.alert-heading {
	background-color: lightblue;
	color: darkblue;
	font-family: "Comic sans ms";	
}
.heading {
	border-bottom: 1px solid;
	margin-bottom: 2%;
}
.domains {
	width: 100%;
	height:100%;
	overflow:auto;
}
.domainsPane {
	border-right: 1px solid;
}

.domainDetailsPane {
}
.domainName {
	display: inline;
}

.accounts {
	height: 100%;
	overflow: auto;
}

.domainListItem {
	cursor: hand;
}

.col-md-3, .col-md-4 {
	/*border: 1px solid;*/

}
.notes {
	cursor: default; 
}
.accountItem{
	font-size: 18px;
	margin-top: 10px;
}

.password {
	font-size:20px;
	color:sandybrown;
}

hr {
	border-color: tan;
	margin: 5px;
}



