#signUp {
	width:70%;
}

#loginModal {
	width: 70%;	
}

body {
	background-color: whitesmoke;
}

.alert-heading {
	background-color: lightblue;
	color: darkblue;
	font-family: "Comic sans ms";	
}
.heading {
	border-bottom: 1px solid;
	margin-bottom: 2%;
}
.domains {
	width: 20%;
	height:100%;
	overflow:auto;
	border-right: 1px solid;
}
.domainName {
	display: inline;
}

.accounts {
	width:80%;
}

.col-md-3, .col-md-4 {
	/*border: 1px solid;*/

}
hr {
	border-color: tan;
}



