<h3 class="domainName">@NAME@</h3>
<span onclick="showDomainEditModal('@ID@')" class="btn glyphicon glyphicon-pencil" aria-hidden="true"></span>
<span onclick="deleteDomain('@ID@')" class="btn glyphicon glyphicon-trash" aria-hidden="true"></span>
<div> @DESC@ </div> <br>